body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
}


.auth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
}


.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.auth-form input,
.auth-form select,
.auth-form button {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}


.auth-form button {
  background-color: #af604c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #944e3d;
}

.auth-form a {
  text-align: center;
  margin-top: 1rem;
  color: #af604c;
  text-decoration: none;
  font-size: 0.9rem;
}

.auth-form a:hover {
  text-decoration: underline;
}
